.title {
    text-align: center;
}

textarea {
    resize: none;
    text-align: center;
    display:inline-block;
    vertical-align:middle;
}

.formBox {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form {
    height: 50px;
    padding: 0px;
    border: 1px solid darkgrey;
    background-color: #ccffff;
}

.formButton {
    background-color: #66ffff;
}

.list {
    text-align: center;
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

.selectedTodo {
    margin-top: 20vh;
    text-align: center;
}

.todo-actions {
    display: flex;
    justify-content: center;
}

.deleteButton {
 margin-left: 20px;
}