.title {
    text-align: center;
}

textarea {
    resize: none;
    text-align: center;
    display:inline-block;
    vertical-align:middle;
}

.cadreTimer {
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
}

.timerClock {
    text-align: center;
}

  .timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .timer label input {
    max-width: 10vw;
    margin: 10px;
  }

.timerbutton {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.goodJob {
    text-align: center;
    font-size: large;
    font-weight: 500;
}

li {
    list-style-type: none;
}

.addingTodo {
    border: 1px solid black;
    margin-left: 5vw;
    margin-right: 5vw;
}

.formTitle {
    margin-top: 10px;
    text-align: center;
}

.formBox {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form {
    height: 50px;
    padding: 0px;
    border: 1px solid darkgrey;
    background-color: #ccffff;
}

.formButton {
    background-color: #66ffff;
}

.list {
    text-align: center;
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

.selectedTodo {
    margin-top: 20vh;
    text-align: center;
}

.todo-actions {
    display: flex;
    justify-content: center;
}

.deleteButton {
 margin-left: 20px;
}